*{
	margin: 0;
	padding: 0;
	/*text-align: center;*/
}
html,body{
	width: 100%;
	height: 100%;
}
label{
	cursor: pointer;
	width: 100%;
	padding-bottom: 20%;
    padding-top: 20%;
    padding-right: 10px;
}
label input{
	opacity: 0;
}
.header{
	height: 80px;
	background: #e7f5ff;
}
.tag{
	list-style: none;
}
.tag .HeadBar{
	float: left;
}
.cont-out{
	background: #f7f9fd;
}
.cont-m{
	text-align: center;
    padding-top: 35%;
}
.cor{
	height: 100%;
	position: absolute;
}
.corridor{
	padding-top: 25%;
}

#cor-l, #cor-m, #cor-r{
	padding-top: 29%;
}
#out-cont{
	border-left: 1px solid #666;
    border-right: 1px solid #666;
}
#platform, #entrance{
	padding: 10px;
}
#platform, #entrance{
	border-left: 2px dashed #666;
	border-top: 2px dashed #666;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#entrance{
	border-right: 2px dashed #666;
}
#X6421{
	padding: 10px;
    border-bottom: 1px solid #666;
}
.td{
	background: #4a4242;
    color: #efdede;
    text-align: center;
    width: 25%;
}
.state{
	display: inline-block;
	width: 10px;
	height: 10px;
}
.left-table{
	display: inline-table;
}
.s1{
	background: #4a4242;
}
.s2{
	background: #b5a2a2;
}
.s3{
	background: #b13434;
}

#sub{
	padding-top: 35px;
}

.foot{
	height: 80px;
	line-height: 80px;
	background: #ccc;
	text-align: center;
	background: #e7f5ff;
}
.HeadBar{
	text-align: left;
	line-height: 80px;
	color: #1567ff;
	font-size: 20px;
	font-family: "ו";
	font-weight: bold;
}

.bar{
	height: 30px;
	border-bottom: 2px solid #666;
	background: #e1e8ee;
	box-shadow: inset 0 0 17px #5ec3ce;
}